body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Barlow", sans-serif, 'Fraunces', serif,'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Barlow", sans-serif, 'Fraunces', serif, 'Courier New',
    monospace;
}

a:hover {
  color:#fff;
}
a:active {
  color: blue;
}
